body
{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sol
{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.mercurio
{
    position: absolute;
    border-style: solid;
    border-color: red 
        transparent
        transparent 
        transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s
        linear infinite;
}
.mercurio::before
{
    content:' ';
    position:absolute;
    border-radius: 50%;
    top: 2.8em;
    left: 2.8em;
    width: 3em;
    height: 3em;
    background-color: red ;
}
.mercurio
{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 16.5s
        linear infinite;

} 

@keyframes orbit {
    to {
        transform: rotate(
            360deg);
    }

}
