html, body
{
    height: 100%;

}

.center
{
    box-sizing: border-box; /*Espaçamento interno se matem*/
    width: 780px;
    margin: 0 auto;
    padding: 30px 50px 20px 10px;
    background-color: gray;
    
}

.artigo
{
   margin: 30px 50px 30px 50px;
   margin-bottom: 30px;
   width: 500px;
}